.navber-title {
    font-size: 15px;
    font-weight: bold;
}
.navber-title i {
    margin-right: 5px;
}
#sidebar .siderbar-icon {
    font-size: 15px;
    margin-right: 10px;
}
/* college---学院信息页面css */
#college .layui-card-header button{
    margin-left: 2em;
}